* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  font-size: 16px;
  background-color: #dee2ff;
  font-family: "Roboto", sans-serif;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
}
nav {
  width: 100%;
  height: 10vh;
}
.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}
.navbar .item {
  font-size: 1.2rem;
  font-weight: bold;
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  padding: 3%;
}
.navbar .item2 {
  flex: 1 1 auto;
}
.calculator-container {
  width: 100vw;
  height: 100vh;
}
.display-container {
  width: 100%;
  height: 30vh;
}
.display-container .display-text {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 70%;
  font-size: 3rem;
  padding: 5%;
}
.display-container .memory-options {
  font-size: 0.8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 30%;
}
.key-container {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.key {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  /* height: 50px; */
  height: 100%;
  border: 1px solid #dee2ff;
  background-color: white;
  font-weight: bold;
}
.key:hover {
  background-color: whitesmoke;
}
.row {
  display: flex;
  width: 100%;
  height: 16%;
}
.row .key {
  height: 100%;
}

.fr {
  height: 16%;
  order: -6;
}
.one,
.two,
.three,
.four,
.five {
  height: 16%;
}
.color1 {
  background-color: #cbc0d3;
}
.color1:hover {
  background-color: #c6b0d6;
}
.color2 {
  background-color: #feeafa;
}
.color2:hover {
  background-color: #fdcaf3;
}

.toggle-container {
  width: 30vw;
  height: 100vh;
}
.slide-controls {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 8vh;
}
.slide {
  width: auto;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}
.history-btn {
  border-bottom: 4px solid #6f798a;
}
.overflow-controller {
  width: 100%;
  height: 90%;

  overflow: hidden;
}
.info-container {
  padding: 10px;
  display: flex;
  width: 200%;
  height: 100%;
}
.history-info,
.memory-info {
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  width: 50%;
  height: 100%;
}

.show-960 {
  display: none;
}
.show-720 {
  display: none;
}

@media screen and (min-width: 480px) {
  .display-container .memory-options {
    width: 45%;
  }
}
@media screen and (min-width: 720px) {
  .show-720 {
    display: block;
  }
  .calculator-container {
    width: 70vw;
  }
}
@media screen and (min-width: 960px) {
  /* changing the orders */
  .show-960 {
    display: flex;
  }
  .key {
    width: 20%;
  }
  .row {
    height: 20%;
    width: 80%;
  }
  .row .key {
    width: 25%;
  }
  .fr {
    height: 20%;
  }
  .one,
  .two,
  .three,
  .four,
  .five {
    height: 20%;
  }
  .one {
    order: -1;
  }
  .row1 {
    order: -4;
  }
  .row2 {
    order: -3;
  }
  .row3 {
    order: -2;
  }
  .two {
    order: -3;
  }
  .three {
    order: -4;
  }
  .four {
    order: -2;
  }
  .five {
    order: -5;
  }
}
@media screen and (min-width: 1140px) {
}
