* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100%;
  font-size: 16px;
  background-color: #dee2ff;
  font-family: "Roboto", sans-serif;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
}
nav {
  width: 100%;
  height: 10vh;
  min-height: 50px;
}
.navbar {
  width: 100%;
  height: 100%;

  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}
.navbar .item {
  font-size: 1.2rem;
  font-weight: bold;
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  padding: 3%;
}
.item i {
  cursor: pointer;
}
.navbar .item2 {
  flex: 1 1 auto;
}

.sub-menu {
  position: fixed;
  top: 55px;
  left: -70%;
  /* left: 0; */
  bottom: 0;
  width: 70%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  background-color: #eff1ff;
  transition: all 0.6s;

  padding: 10px;
}
.sub-item {
  list-style: none;
  width: 100%;
  height: auto;
  font-size: 16px;
}
.sub-item > b {
  display: inline-block;
  padding: 10px;
  width: 100%;
  height: 100%;
}
.sub-item > a > i {
  width: 33px;
}
.sub-item:hover > a {
  color: black;
  background-color: #dee2ff;
}
.sub-item > a {
  color: rgb(38, 38, 38);
  text-decoration: none;
  font-weight: normal;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 10px 10px;
}

.calculator-container {
  width: 100vw;
  height: 100vh;
}
.display-container {
  width: 100%;
  height: 30vh;
  min-height: 100px;
}
.display-container .display-text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
  height: 40%;
  font-size: 3rem;
  padding: 0 5%;
}
.display-container .display-p {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  height: 30%;
  font-size: 14px;
  padding: 0 5%;
  color: dimgray;
}
.display-container .memory-options {
  font-size: 0.8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 30%;
}
.memory-key {
  cursor: pointer;
}

.key-container {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  min-height: 300px;
}
.key {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  /* height: 50px; */
  height: 100%;
  border: 1px solid #dee2ff;
  background-color: white;
  font-weight: bold;
}
.key sup {
  margin-top: -4px;
  font-size: 12px;
}
.key:hover {
  background-color: rgb(235, 235, 235);
}
.row {
  display: flex;
  width: 100%;
  height: 16%;
}
.row .key {
  height: 100%;
}

.fr {
  height: 16%;
  order: -6;
}
.one,
.two,
.three,
.four,
.five {
  height: 16%;
}
.color1 {
  background-color: #cbc0d3;
}
.color1:hover {
  background-color: #c6b0d6;
}
.color1:focus {
  background-color: #610a9f;
}
.color2 {
  background-color: #feeafa;
}
.color2:hover {
  background-color: #fdcaf3;
}

.toggle-container {
  width: 30vw;
  height: 100vh;
}
.slide-controls {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 8vh;
  min-height: 50px;
}
.slide {
  width: auto;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  cursor: pointer;
}
.slide:hover {
  color: rgb(92, 92, 92);
}
.history-btn {
  border-bottom: 3px solid #6f798a;
}
.overflow-controller {
  padding-top: 10px;
  width: 100%;
  height: 90%;
  overflow: hidden;
}
.info-container {
  display: flex;
  width: 200%;
  height: 100%;
}
.history-info,
.memory-info {
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  width: 50%;
  height: 100%;
}
.history-info {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  list-style: none;
  max-height: 100%;
  /* overflow-y: scroll; */
}
.history-info li {
  padding: 7px 20px;
  width: 99%;
  margin-left: 1%;
  text-align: right;
}
.history-info li:hover {
  background-color: #c3c6de;
}
.history-info li p {
  color: gray;
  font-size: 13px;
  /* letter-spacing: 3px; */
}
.history-info li h3 {
  padding-top: 5px;
  font-size: 22px;
}
.show-960 {
  display: none;
}
.show-720 {
  display: none;
}
.trash-icon {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 50px;
  height: 47px;
  font-size: 1.3rem;
  background: none;
  border: none;
  cursor: pointer;
}
.trash-icon:hover {
  background-color: #c3c6de;
}

@media screen and (min-width: 480px) {
  .display-container .memory-options {
    width: 45%;
  }
  .sub-menu {
    width: 40%;
  }
}
@media screen and (min-width: 720px) {
  .show-720 {
    display: block;
  }
  .calculator-container {
    width: 70vw;
  }
  .sub-menu {
    width: 30%;
  }
}
@media screen and (min-width: 960px) {
  /* changing the orders */
  .show-960 {
    display: flex;
  }
  .key {
    width: 20%;
  }
  .row {
    height: 20%;
    width: 80%;
  }
  .row .key {
    width: 25%;
  }
  .fr {
    height: 20%;
  }
  .one,
  .two,
  .three,
  .four,
  .five {
    height: 20%;
  }
  .one {
    order: -1;
  }
  .row1 {
    order: -4;
  }
  .row2 {
    order: -3;
  }
  .row3 {
    order: -2;
  }
  .two {
    order: -3;
  }
  .three {
    order: -4;
  }
  .four {
    order: -2;
  }
  .five {
    order: -5;
  }
  .sub-menu {
    width: 20%;
  }
}
@media screen and (min-width: 1140px) {
}
